.experiment-11-components{
    background-color: blue;
    color: white;
}

.experiment-11-heading{
    padding: 0.5em 1em 0;
}

.website-feedback-survey{
    background-color: darkgreen;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.survey-prompt-area{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}

.survey-prompt{
    font-size: 1.5em;
    margin-bottom: 0.4em;
}

.submit-button{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

/* Flexibly arrange the rating buttons horizontally */
.form-group {
    display: flex;
}

/* 
    Removed the rating numbers that were defaultly 
    attached with each radio button!
*/
.form-check-inline span {
    padding-right: 2%;
    cursor: pointer;
    color: transparent;
}