.experiment-11-components{
    background-color: blue;
    color: white;
}

.experiment-11-heading{
    padding: 0.5em 1em 0;
}

.website-feedback-survey{
    background-color: darkgreen;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.survey-prompt-area{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}

.survey-prompt{
    font-size: 1.5em;
    margin-bottom: 0.4em;
}

.submit-button{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

/* Flexibly arrange the rating buttons horizontally */
.form-group {
    display: flex;
}


.form-check-inline .rating {
    display: none;
}

/* 
    Removed the rating numbers that were defaultly 
    attached with each radio button!
*/
.form-check-inline span {
    padding-right: 2%;
    cursor: pointer;
    color: transparent;
}

/*
    Transform each radio button into gold stars!
*/
.form-check-inline span:before {
    content: '\2606';
    color: gold;
}

/* 
    Handles interactive display of the gold stars
    radio buttons based on the user's selected 
    rating!
*/
.form-check-inline span:hover:before,
.form-check-inline span:hover~span:before {
  content: '\2605';
  color: gold;
}

.form-check-inline .rating:checked~span:before {
    content: '\2605';
    color: gold;
}

.form-check-inline .rating:checked~span:before {
    content: '\2605';
    color: gold;
}

/* Provide correct display of gold stars when user rates 2 stars! */
.form-group:has(input[id="2"]:checked) input[id='1']+span:before {
    content: '\2605';
    color: gold;
}

/* Provide correct display of gold stars when user rates 3 stars! */
.form-group:has(input[id="3"]:checked) input[id='1']+span:before,
.form-group:has(input[id="3"]:checked) input[id='2']+span:before {
  content: '\2605';
  color: gold;
}

/* Provide correct hover display of gold stars when user rates 2 stars! */
.form-group:has(input[id="2"]:hover) input[id='1']+span:before {
    content: '\2605';
    color: gold;
}

/* Provide correct hover display of gold stars when user rates 3 stars! */
.form-group:has(input[id="3"]:hover) input[id='1']+span:before,
.form-group:has(input[id="3"]:hover) input[id='2']+span:before {
  content: '\2605';
  color: gold;
}

/* Provide correct display of gold stars when user rates 4 stars! */
.form-group:has(input[id="4"]:checked) input[id='1']+span:before,
.form-group:has(input[id="4"]:checked) input[id='2']+span:before,
.form-group:has(input[id="4"]:checked) input[id='3']+span:before {
  content: '\2605';
  color: gold;
}

/* Provide correct hover display of gold stars when user rates 4 stars! */
.form-group:has(input[id="4"]:hover) input[id='1']+span:before,
.form-group:has(input[id="4"]:hover) input[id='2']+span:before,
.form-group:has(input[id="4"]:hover) input[id='3']+span:before{
  content: '\2605';
  color: gold;
}

/* Provide correct display of gold stars when user rates 5 stars! */
.form-group:has(input[id="5"]:checked) input[id='1']+span:before,
.form-group:has(input[id="5"]:checked) input[id='2']+span:before,
.form-group:has(input[id="5"]:checked) input[id='3']+span:before,
.form-group:has(input[id="5"]:checked) input[id='4']+span:before {
  content: '\2605';
  color: gold;
}

/* Provide correct hover display of gold stars when user rates 5 stars! */
.form-group:has(input[id="5"]:hover) input[id='1']+span:before,
.form-group:has(input[id="5"]:hover) input[id='2']+span:before,
.form-group:has(input[id="5"]:hover) input[id='3']+span:before,
.form-group:has(input[id="5"]:hover) input[id='4']+span:before{
  content: '\2605';
  color: gold;
}