body{
    background-color: blue; 
    color: white; 
}

/* Design for card that encompases an experiment for this testing ground */
.experiment-card{
    background-color: #FAD0AD; 
    color:black; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s; 
    margin: 10px; 
    padding: 20px; 
    border-radius: 25px;
}

.experiment-card:hover{
    background-color: white; 
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); 
}

/* Design message area for an experiment, primarily used by Experiment 3 */
.message-area{
    display: flex;
    flex-wrap: wrap;
    height: 16%;
    padding: 10px 10px; 
    border: 2pt dashed blue; 
}

.response-area{
    display: block; 
    height: 18% auto; 
    padding: 10px 10px; 
    background-color: radial-gradient(#7FFFDD, #B3BEFF);
}

/* Design the area that contains the code snippet */
.code-sample{
    background-color:midnightblue;
    color: #FFFF33;
    overflow-x: auto; /* Adds a horizontal scrollbar to see all the code by scrolling horizontally!*/
}

/* Design the display of the code text */
code{
    display: flex;
    flex-wrap: wrap;
    font-family: courier, monospace;
    padding: 1% 1%;
}

/* Design the buttons */ 
.button{
    display: flex;
    background-color:rgb(43, 167, 43);
    justify-content: center;
    color: white;
    font-size: 1.25em;
    width: 25%;
    height: 15%;
    border-radius: 20px;
}

/* Design the Experiment 2's message results area */
#experiment-2-message{
    display: flex; 
    width: 25%;
    height: 12%;
    flex-wrap: wrap;
    padding: 10px 10px;
}