body{
    background-color: blue; 
    color: white; 
}

/* Design for card that encompases an experiment for this testing ground */
.experiment-card{
    background-color: #FAD0AD; 
    color:black; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s; 
}

.experiment-card:hover{
    background-color: white; 
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); 
}

.code-sample{
    background-color:midnightblue;
    color: #FFFF33;
}